.html > h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.html > h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.html > h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0.4rem;
}
.html > h5 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0.4rem;
}
.html > ul {
  margin-bottom: 2rem;
  display: inline-block;
}
.html > * > a {
  margin-bottom: 2rem;
  font-weight: 800;
  color: red;
}
.html > p {
  margin: 1rem 0;
  font-size: 1.2rem;
}
.html > * > * img {
  margin-bottom: 2rem;
}
.html > * > * > code,
.html > * > code {
  background-color: rgb(93, 93, 93);
  padding: 0.25rem;
  border-radius: 6px;
}
.html > * > pre {
  margin: 1rem 0;
  background-color: rgb(58, 57, 57);
  padding: 0.75rem;
  overflow-x: scroll;
  border-radius: 12px;
}
.html > blockquote {
  border-left: 3px rgb(167, 167, 167) solid;
  color: rgb(167, 167, 167);
  padding-left: 0.55rem;
  margin: 1rem 0;
}
.html > * > li::before {
  content: ".";
  display: inline-block;
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
