@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-Inter;
  }
  body {
    @apply bg-gradient-to-r from-gray-50 via-white to-gray-50;
  }
  ,
  h1 {
    @apply font-Inter text-3xl font-bold;
  }
  ,
  p {
    @apply font-Albert text-base font-normal;
  }
}
@layer components {
  .response-grid {
    @apply xxs:w-[200px] xxs:h-[400px] xs:w-[300px] xs:h-[400px] sm:h-[600px] md:w-[400px];
  }
  .response-gridx {
    @apply xxs:w-[260px] xxs:h-[600px] xs:w-[300px] xs:h-[620px] h-[620px] sm:w-[450px] md:w-[600px];
  }
  .response-cards {
    @apply w-full sm:w-[450px] md:w-[600px] mx-1;
  }

  .btn {
    @apply gradient-custom-1 text-white px-10 py-2 rounded-full uppercase text-xl font-semibold cursor-pointer hover:bg-clip-text hover:bg-white hover:text-transparent transition duration-500;
  }
  .donate-button {
    @apply text-gray-500 border border-gray-500 hover:bg-_green hover:text-white hover:border-_green rounded-md flex items-center text-xs px-3 py-1 mr-2 transition-all;
  }
  .btn2 {
    @apply gradient-custom-2 text-white px-10 py-2 rounded-full uppercase text-xl font-semibold cursor-pointer hover:bg-clip-text hover:bg-white hover:text-transparent transition duration-500;
  }
  .btn-pagination {
    @apply bg-white text-blue-400 ring-2 ring-blue-500/[.55] w-8 h-8 rounded-full uppercase text-xl font-semibold cursor-pointer hover:ring-blue-500 transition duration-200;
  }
  .btn-hero {
    @apply inline-flex items-center text-black text-sm text-center font-medium focus:outline-none rounded-sm;
  }
  .btn-rounded {
    @apply text-primary bg-white w-10 p-2 rounded-full text-xl font-semibold cursor-pointer hover:bg-primary hover:text-white text-center transition duration-300;
  }
  .btn-login {
    @apply inline-flex items-center border-2 border-white py-2 px-6 focus:outline-none hover:bg-gray-200 rounded-full text-base mt-4 md:mt-0 transition duration-300;
  }
  .btn-getstarted {
    @apply inline-flex items-center bg-black text-white text-sm text-center font-light py-1 px-3 border border-black focus:outline-none hover:bg-transparent hover:text-black rounded-full transition duration-300;
  }
  .btn-getstarted-reverse {
    @apply inline-flex items-center bg-white text-black text-sm text-center font-light py-1 px-3 border border-black focus:outline-none hover:bg-black hover:text-white rounded-full transition duration-300;
  }
  .btn-getstared-gray {
    @apply inline-flex items-center bg-gray-200 text-gray-800 font-normal py-2 px-6 focus:outline-none hover:bg-gray-100 rounded-full text-base mt-4 md:mt-0 transition duration-75;
  }
  .btn-learnmore {
    @apply inline-flex items-center border-2 border-cyan-400 text-cyan-400 font-semibold py-4 px-16 focus:outline-none hover:bg-cyan-400 hover:text-white rounded-full text-base mt-4 md:mt-0 transition duration-300;
  }
  .nav-blur {
    @apply backdrop-blur-[10px] bg-[#ffffff66] border-b border-gray-200;
  }
  .hover-gradient-text-1 {
    @apply gradient-custom-1 text-transparent bg-clip-text;
  }
  .hover-gradient-text-2 {
    @apply gradient-custom-2 text-transparent bg-clip-text;
  }
  .gra-text-golden {
    @apply gra-bg-golden text-transparent bg-clip-text;
  }
  .gradient-custom-1 {
    background-image: linear-gradient(
      68.4deg,
      rgba(99, 251, 215, 1) -0.4%,
      rgba(5, 222, 250, 1) 100.2%
    );
  }
  .gradient-custom-2 {
    background: linear-gradient(
      to right,
      rgb(242, 112, 156),
      rgb(255, 148, 114)
    );
  }
  .gradient-custom-3 {
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(0, 107, 141, 1) 0%,
      rgba(0, 69, 91, 1) 90%
    );
  }
  .gradient-custom-4 {
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(226, 240, 254, 1) 0%,
      rgba(255, 247, 228, 1) 90%
    );
  }
  .gra-bg-red {
    background-image: radial-gradient(
      circle 860px at 11.8% 33.5%,
      rgba(240, 30, 92, 1) 0%,
      rgba(244, 49, 74, 1) 30.5%,
      rgba(249, 75, 37, 1) 56.1%,
      rgba(250, 88, 19, 1) 75.6%,
      rgba(253, 102, 2, 1) 100.2%
    );
  }
  .gra-bg-gray {
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(90, 92, 106, 1) 0%,
      rgba(32, 45, 58, 1) 81.3%
    );
  }
  .gra-bg-purple {
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(163, 175, 243, 1) 0%,
      rgba(220, 182, 232, 1) 100.2%
    );
  }
  .gra-bg-golden {
    background: linear-gradient(
      to right,
      #bf953f,
      #fcf6ba,
      #b38728,
      #fbf5b7,
      #aa771c
    );
  }
  .box-shadow-framer {
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  }
}

.animate-rotation {
  animation: analog_rotation 12s linear;
}

.flipped {
  transform: rotateY(180deg);
}
.matched {
  border: 2px solid blueviolet;
  border-radius: 0.5rem;
}
.correct {
  border: 2px solid blueviolet;
  border-radius: 0.5rem;
}
.user-correct {
  background-color: #1e90ff;
}
.user-incorrect {
  background-color: #ff5733;
}
.card {
  position: relative;
  transition: transform 0.25s;
  transform-style: preserve-3d;
}
.animate-rotation-18 {
  animation: analog_rotation 18s linear;
}

.flipped {
  transform: rotateY(180deg);
}
.matched {
  border: 2px solid blueviolet;
  border-radius: 0.5rem;
}
.correct {
  border: 2px solid blueviolet;
  border-radius: 0.5rem;
}
.card {
  position: relative;
  transition: transform 0.25s;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-color: #111111;
}

.back {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.spin1 {
  animation: spin1 6s linear infinite;
}
.spin2 {
  animation: spin2 12s linear infinite;
}
._spin1 {
  animation: _spin1 6s linear infinite;
}
._spin2 {
  animation: _spin2 12s linear infinite;
}

/*
--------------- WORDLE CSS
*/

#correct {
  background-color: #388e3c;
}

#almost {
  background-color: #f9a825;
}

#error {
  background-color: #3a393c;
}

#big {
}
#disabled {
  background-color: #3a393c;
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes _spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes _spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes analog_rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
